<?xml version="1.0" encoding="utf-8"?>
<!-- This file is necessary to start the application in Azure or on IIS.  It tells IIS to forward requests to the DNX app. -->
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
		</handlers>
		<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true"/>
	</system.webServer>
</configuration>
